{% extends 'base.html' %} {% load static %} {% csrf_token %} {% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" /> {% endblock %} {% block content %}
<form class="mt-5" method="post" action="" enctype="multipart/form-data">
    <div class="container">
        <div class="file-upload-compairson bg-light rounded">
            <button class="btn button comparison-btn text-white form-control" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Добавить
                изображение</button>
            <div class="image-upload-wrap">
                <input name="uploadFromPC[]" class="file-upload-input" type='file' onchange="readURL(this);" accept=".jpg, .png" />
                <div class="drag-text">
                    <h3>Перетащи файл</h3>
                </div>
            </div>
            <div class="file-upload-content">
                <div class="row">
                    <div class="cont" onclick="removeUpload()">
                        <img name="image1" class="file-upload-image1 image" src="#" id="image1" />
                        <div class="middle">
                            <div class="text">Удалить</div>
                        </div>
                    </div>
                    <div class="cont" onclick="removeUpload()">
                        <img name="image2" class="file-upload-image2 image" src="#" id="image2" />
                        <div class="middle">
                            <div class="text">Удалить</div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn comparison-btn form-control text-white my-2">СРАВНИТЬ</button> {% if ssim %}
            <p class="mt-4">Средний индекс структурного сходства по изображению: <strong>{{ ssim }}</strong></p>
            {% endif %}
        </div>
    </div>
</form>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{% static '/js/comparison_image.js' %}"></script>

{% endblock %}