/* body {
    font-family: sans-serif;
    background-color: #222;
} */

.toast-message {
    position: absolute; 
    top: 30px; 
    right: 30px;
}

.nav-bg {
    background-color: #4c4093 !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}