  body {
      font-family: sans-serif;
      background-color: #302D42 !important;
  }
  
  a {
      text-decoration: none;
  }
  
  .file-upload {
      background-color: #ffffff;
      width: 25%;
      min-width: 300px;
      max-width: 1100px;
      margin: 0 auto;
      padding: 20px;
  }
  
  .bg-button {
      background-color: #4c4093;
  }
  
  .image-center {
      margin: 0;
  }
  
  .comparison-btn {
      background-color: #4c4093;
  }
  
  .file-upload-compairson {
      background-color: #ffffff;
      width: 60%;
      min-width: 300px;
      max-width: 1100px;
      margin: 0 auto;
      padding: 20px;
  }
  
  .file-upload-btn {
      width: 100%;
      margin: 0;
      color: #fff;
      background: #313131da;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #313131da;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .file-upload-btn:hover {
      background: #313131da;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
  }
  
  .file-upload-btn:active {
      border: 0;
      transition: all .2s ease;
  }
  
  .file-upload-content {
      display: none;
      text-align: center;
  }
  
  .file-upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
  }
  
  .image-upload-wrap {
      margin-top: 20px;
      border: 4px dashed #313131da;
      position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
      /* background-color: #313131da; */
      border: 4px dashed #4c4093;
  }
  
  .image-title-wrap {
      padding: 0 15px 15px 15px;
      color: #222;
  }
  
  .drag-text {
      text-align: center;
  }
  
  .drag-text h3 {
      font-weight: 100;
      text-transform: uppercase;
      color: #313131da;
      padding: 60px 0;
  }
  
  .file-upload-image {
      max-height: 200px;
      max-width: 200px;
      margin: auto;
      padding: 20px;
  }
  
  .file-upload-image1 {
      width: 200px;
      height: auto;
      margin: auto;
      padding: 20px;
  }
  
  .file-upload-image2 {
      width: 200px;
      height: auto;
      margin: auto;
      padding: 20px;
  }
  
  .file-image {
      width: 200px;
      height: auto;
      margin: auto;
      padding: 20px;
  }
  
  .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  
  .cont-center {
      margin: auto;
      width: 50%;
  }
  
  .cont {
      position: relative;
      width: 50%;
  }
  
  .cont:hover .image {
      opacity: 0.3;
  }
  
  .cont:hover .middle {
      opacity: 1;
  }
  
  .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
  }
  
  .remove-image {
      width: 200px;
      margin: 0;
      color: #fff;
      background: #cd4535;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #b02818;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .remove-image:hover {
      background: #c13b2a;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
  }
  
  .remove-image:active {
      border: 0;
      transition: all .2s ease;
  }