{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />

{% endblock %}

{% block content %}
<form class="my-5" method="post" action="" enctype="multipart/form-data">
    <div class="file-upload bg-light rounded">
        <button class="btn button bg-dark text-white form-control" type="button"
            onclick="$('.file-upload-input').trigger( 'click' )">Добавить
            изображение</button>
        <div class="image-upload-wrap">
            <input name="uploadFromPC" class="file-upload-input" type='file' onchange="readURL(this);"
                accept="image/*" />
            <div class="drag-text">
                <h3>Перетащите файл или выберите «Добавить изображение».</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
                <div class="row">
                    <button type="button" onclick="removeUpload()"
                        class="btn button bg-danger form-control">Удалить&ensp;
                        <span class="image-title">Uploaded Image</span>
                    </button>
                </div>
                <div class="row">
                    <button type="submit" class="btn button bg-dark text-white form-control">Продолжить</button>
                </div>
            </div>
        </div>

        {% if image_url  %}
        <br>
        <div class="col">
            <a href="{{ image_url }}">
                Исходое изображение

                <br>
                <img class="" style="max-width: 99%;" src=" {{ image_url }}" alt="src" />
            </a>
        </div>
        {% endif %}

        {% if hist1  %}
        <div class="col">
            <a href="{{ hist1 }}">
                

                <br>
                <img class="" style="max-width: 99%;" src=" {{ hist1 }}" alt="mod" />
            </a>
        </div>
        {% endif %}

        {% if hist2  %}
        <div class="col">
            <a href="{{ hist2 }}">
                

                <br>
                <img class="" style="max-width: 99%;" src=" {{ hist2 }}" alt="mod" />
            </a>
        </div>
        {% endif %}

        {% if mod_image_url  %}
        <div class="col">
            <a href="{{ mod_image_url }}">
                Измененное изображение

                <br>
                <img class="" style="max-width: 99%;" src=" {{ mod_image_url }}" alt="mod" />
            </a>
        </div>
        {% endif %}
        {% if src_lsb_image_url  %}
        <div class="col">
            <a href="{{ src_lsb_image_url }}">
                Визуальная атака на исходое изображение

                <br>
                <img class="" style="max-width: 99%;" src=" {{ src_lsb_image_url }}" alt="mod" />
            </a>
        </div>
        {% endif %}
        {% if mod_lsb_image_url  %}
        <div class="col">
            <a href="{{ mod_lsb_image_url }}">
                Визуальная атака на измененное изображение

                <br>
                <img class="" style="max-width: 99%;" src=" {{ mod_lsb_image_url }}" alt="mod" />
            </a>
        </div>
        {% endif %}
    </div>
</form>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script src="{% static '/js/upload_file.js' %}"></script>

{% endblock %}