{% extends 'base.html' %} {% load static %} {% csrf_token %} {% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" /> {% endblock %} {% block content %}
<form class="my-5" method="post" action="" enctype="multipart/form-data">
    <div class="file-upload bg-light rounded">
        <select class="form-control my-2" aria-label="Default select example" name="attacs">
            {% for at in attacks %}
            <option value="{{at.1}}">{{at.1}}</option>
            {% endfor %}
        </select>
        <select class="form-control my-2 mb-3" aria-label="Default select example" name="protects">
            <option value="1" selected>Метод изъятие нескольких уровней в диапазоне канала</option>
        </select>
        <button class="btn button bg-button text-white form-control" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Добавить
            изображение</button>
        <div class="image-upload-wrap">
            <input name="uploadFromPC" class="file-upload-input" type='file' onchange="readURL(this);" accept=".jpg, .png" />
            <div class="drag-text">
                <h3>Перетащите файл (.jpg, .png) или выберите «Добавить изображение».</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
                <div class="row">
                    <button type="button" onclick="removeUpload()" class="btn button bg-danger form-control">Удалить&ensp;
                    </button>
                </div>
                <div class="row">
                    <button type="submit" class="btn button bg-dark text-white form-control">Продолжить</button>
                </div>
            </div>
        </div>
        <div class="" style="text-align: center">
            {% if src_image_url %} {% if src_average_attack_url %}
            <p class="mt-4">{{ src_average_attack_url.1 }} <strong>{{ src_average_attack_url.0 }}</strong></p>
            {% endif %} {% if mod_average_attack_url %}
            <p>{{ mod_average_attack_url.1 }} <strong>{{ mod_average_attack_url.0 }}</strong></p>
            {% endif %}
            <br>
            <a class="text-center mb-3" href="{{ src_image_url }}">
                <img class="image-center" style="max-width: 99%;" src=" {{ src_image_url }}" alt="src" />
                <p>Исходое изображение</p>
            </a>
            {% endif %} {% if hist1 %}
            <br>
            <a class="mb-3" href="{{ hist1 }}">
                <img class="" style="max-width: 99%;" src=" {{ hist1 }}" alt="mod" />
            </a>
            {% endif %} {% if hist2 %}
            <br>
            <a class="mb-3" href="{{ hist2 }}">
                <img class="" style="max-width: 99%;" src=" {{ hist2 }}" alt="mod" />
            </a>
            {% endif %} {% if mod_image_url %}
            <a class="text-center mb-3" href="{{ mod_image_url }}">
                <img class="" style="max-width: 99%;" src=" {{ mod_image_url }}" alt="mod" />
                <p>Измененное изображение</p>
            </a>
            {% endif %} {% if src_image_attack_url %}
            <a class="text-center mb-3" href="{{ src_image_attack_url }}">
                <img class="" style="max-width: 99%;" src=" {{ src_image_attack_url }}" alt="mod" />
                <p>Атака на исходое изображение</p>
            </a>
            {% endif %} {% if mod_image_attack_url %}
            <a class="text-center mb-3" href="{{ mod_image_attack_url }}">
                <img class="" style="max-width: 99%;" src=" {{ mod_image_attack_url }}" alt="mod" />
                <p>Атака на измененное изображение</p>
            </a>
            {% endif %}
        </div>
    </div>
</form>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script src="{% static '/js/upload_file.js' %}"></script>

{% endblock %}